    
    <div class="flex-container">
      <div class="column">
        <app-button (onClick)="createBoard($event)" [label]="generateButton"></app-button>
        <app-button (onClick)="flipBoard(this.receivedBoard)" [label]="flipButton" [receivedBoard]="brd"></app-button>
          <display [user]="firstUser"></display>
          <div class="discards">
            <div class="first-discards">
                <span *ngFor="let discard of brd.getFirstDiscards()">
                    <discardarea [src]="discard" [cn]="firstDiscardArea" [receivedBoard]="brd">
                    </discardarea>
                  </span>
            </div>
        </div>
      </div>
      <div class="container">
          <div *ngFor="let square of brd.getSquares()">
            <app-board [cn]="square.className" [id]="square.occupant.id" 
              [src]="square.occupant.src" [receivedBoard]="brd">
            </app-board>
          </div> 
      </div>
      <div class="column">
        <app-button (onClick)="openUserDialog($event)" [label]="userButton"></app-button>
        <app-button (onClick)="openGameDialog($event)" [label]="gameButton" [receivedBoard]="brd"></app-button>
        <display [user]="secondUser"></display>
        <div class="discards">
            <div class="second-discards">
                <span *ngFor="let discard of brd.getSecondDiscards()">
                    <discardarea [src]="discard" [cn]="secondDiscardArea" [receivedBoard]="brd">
                    </discardarea>
                </span>
            </div>
        </div>
      </div>
    </div>
